@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap");
:root {
  --color-white: #fff;
  --color-dark: #111;
}

* {
  padding: 0;
  margin: 0;
}

body {
    background:#000;
    display:flex;
    font-family: "Poppins", sans-serif;
	font-weight: 300;
	height: 100vh;
	color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-tap-highlight-color:transparent;
    -moz-tap-highlight-color:transparent;
    tap-highlight-color:transparent;
}
/*body {
    background:#ff4500;
    display:flex;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  height: 100vh;
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-tap-highlight-color:transparent;
    -moz-tap-highlight-color:transparent;
    tap-highlight-color:transparent;
}*/


#particles-js {
    position:absolute;
    height:100%;
    width:100%;
}

.card {
  position: relative;
  width: 18rem;
  padding: 2rem 1rem;
  padding-top: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile-img {
 position:relative;
 height:150px;
 width:150px;
 border-radius:50%;
 margin:auto;
 overflow:hidden;
 box-shadow:0 2px 5px 1px rgba(0,0,0,0.2);
 transition:all 0.3s ease-in;
 z-index:2;
}
.profile-img img{
 height:100%;
 width:100%;
 object-fit:cover;
}
.overlay {
 position:fixed;
 height:100vh;
 width:100%;
 top:0;
 left:0;
 background:rgba(0,0,0,0.3);
 display:none;
 z-index:1;
}
.profile-img:hover {
  border-radius:0;
  transform:scale(1.5);
}
.profile-img:hover + .overlay {
 display:block;
}

.heading {
  margin-bottom: 0.2rem;
  text-align: center;
  border-bottom:1px solid rgba(255,255,255,0.5);
}

.heading--sup {
  display: block;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.heading--sub {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}

.btns {
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 8px 24px;
  font-size: 0.9rem;
  border: 1px solid var(--color-white);
  border-radius: 10rem;
}

.btn:not(:last-child) {
  margin-right: 1rem;
}

.btn--follow {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.info p {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.info span {
  display: block;
}

.info p:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.info p span:last-child {
  font-weight: 600;
}

.the-blood-coders__learn-it-btn,
.the-blood-coders__learn-it-btn:link,
.the-blood-coders__learn-it-btn:active,
.the-blood-coders__learn-it-btn:visited {
  padding: 0.5rem 0;
  width: 160px;
  text-align: center;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  position: absolute;
  bottom: -1.3rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-radius:10rem;
   left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.the-blood-coders__learn-it-btn:active {
  -webkit-box-shadow: 0 0 0rem rgba(0, 0, 0, 0);
  box-shadow: 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-transform: translateX(-50%) scale(0.99);
  transform: translateX(-50%) scale(0.99);
}

.the-blood-coders__btn-icon {
  font-size: 1.6em;
  margin-right: 0.5rem;
}
.skill{
    margin-bottom: 0.5em;
text-align: center;
align-content: center;
border-bottom:1px solid rgba(255,255,255,0.5);
}

.prog{
    margin-bottom: 0.5em;
text-align: center;
align-content: center;
}
.skill-heading{
    font-size: 1.2em;
    font-weight: bold;
}

.prog-heading{
    font-size: 1em;
    font-weight: bold;
}
.skill p, .prog p{
    font-size: 0.8em;
    margin-bottom: 0.2em;
}
a{
  color: #fff;
  font-weight: bold;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none;
color: #0d86ff;}
a:active { text-decoration: none; }
